@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url(../font/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url(../font/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url(../font/Roboto/Roboto-MediumItalic.ttf);
}


@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url(../font/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url(../font/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url(../font/Roboto/Roboto-BlackItalic.ttf);
}